/* blue to red gradient spectrum bar */
#bar {
  width: 100%;
  height: 15px;
  background-image: linear-gradient(to right, #003399, #cc0000);
  border-radius: 25px;
  outline: none;
  opacity: 0.8;
}

/* .element {
  width: 3px;
  height: 15px;
  background-color: #000000;
  position: absolute;
  right: 50%;
} */
