body {
  background-color: #f2f2f2;
  width: 600px;
  overflow-y: hidden;
  padding: 10px;
}

/* blue to red gradient spectrum bar */
#bar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  background-image: linear-gradient(to right, #003399, #cc0000);
  border-radius: 25px;
  outline: none;
  opacity: 0.8;
}

#label {
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  height: 15px;
}

#container {
  height: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 0px;
  /* border: 2px solid black; */
  background-color: #e6e6e6;
}

.src_name {
  margin-bottom: 0px;
}

.src_qual {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 13px;
}

.description {
  margin-top: 3px;
  line-height: 18px;
}

a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #111111;
}

img {
  float: left;
  width: 200px;
  max-height: 100px;
  padding-right: 15px;
}

.article {
  height: 130px;
  padding-right: 15px;
}

::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

/* .element {
  width: 3px;
  height: 15px;
  background-color: #000000;
  position: absolute;
  right: 50%;
} */


/* Styling the Toggle Checkmark */
.toggle_container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  margin-top: 5px;
  cursor: pointer;
  width: 150px;
}

/* Hide the browser's default checkbox */
.toggle_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border-radius: 5px;
  background-color: #AFAFAF;
}

/* On mouse-over, add a grey background color */
.toggle_container:hover input ~ .checkmark {
  background-color: #808080;
}

/* When the checkbox is checked, add a blue background */
.toggle_container input:checked ~ .checkmark {
  background-color: #2196F3;
}
